@using CIFRAS.Infra.CrossCutting.Helpers
@{
    ViewBag.TableUrl = Url.Content("~/Banco/ObterTabela").ToAbsoluteUrl();
    ViewBag.TranslatorUrl = Url.Content("~/Scripts/vendor/datatables/translator.json").ToAbsoluteUrl();
    ViewBag.EditBtnUrl = Url.Action("Editar", "Banco");
    ViewBag.RemoveBtnUrl = Url.Action("Remover", "Banco");
}

<table id="datatable" data-edit="@ViewBag.EditBtnUrl" data-remove="@ViewBag.RemoveBtnUrl" data-table="@ViewBag.TableUrl" data-translator="@ViewBag.TranslatorUrl" data-plugin="DataTable" class="table table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Sigla</th>
            <th>Código</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>