<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Todos os direitos reservados © CIFRAS PROMOTORA @DateTime.Now.Year - Versão 1.1.1</small>
        </div>
    </div>
</footer>