<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a id="title" href="@Url.Action("Index")">@ViewBag.Title</a>
    </li>
    <li class="breadcrumb-item active">@ViewBag.Subtitle</li>
</ol>