<div class="card mb-3">
    <div class="card-header">Informações do Cliente</div>
    <div class="card-body">
        <p>
            <label style="font-weight: bold">Nome: </label>
            <label id="txtNomeCliente"></label>
        </p>
    </div>
</div>